@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Readex+Pro:wght@160..700&display=swap');

/* Common Styles */

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: #000;
    overflow-x: hidden;
}

.container {
    max-width: 129.4rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.explore__button {
    display: inline-block;
    padding: 1.4rem 5.3rem;
    border: 1px solid #000;
    border-radius: 20rem;
    font-size: 1.8rem;
    color: #000;
    transition: all 0.5s;
}

.explore__button:hover {
    background-color: #c5c5c5;
    transition: all 0.5s;
}

.section__title {
    font-family: "Readex Pro", sans-serif;
    font-weight: 400;
    font-size: 4.2rem;
    color: #000;
    margin-bottom: 1rem;
    text-align: center;
}

.section__text {
    font-family: "Readex Pro", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color: #000;
    text-align: center;
}

.card__title {
    font-size: 1.5rem;
    line-height: 128%;
    color: #000;
}

.card__text {
    font-family: "Readex Pro", sans-serif;
    font-size: 3.2rem;
}

/* End of Common Styles */

/* Header Section */

.header {
    padding: 3rem 0 5.7rem 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 3.3rem;
}

.nav__list li {
    transition: color 0.5s;
    cursor: pointer;
}

.nav__list li:hover {
    color: #2d00e1;
}

.nav__list .about {
    padding-left: 1.3rem;
}

.nav__item-wrapper {
    display: flex;
    position: relative;
}

.nav__item {
    font-size: 1.4rem;
    text-transform: uppercase;
}

.nav__item-down-arrow {
    position: absolute;
    top: 0.5rem;
    right: -1.8rem;
}

.header__helpers {
    display: flex;
    gap: 1rem;
}

/* End of Header Section */

/* Welcome Section */

.welcome {
    margin-bottom: 7.5rem;
    display: flex;
    justify-content: space-around;
}

.welcome .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3.2rem;
    height: 55rem;
    background-color: #dce5e2;
}

.welcome__info-title {
    font-family: "Readex Pro", sans-serif;
    font-weight: 400;
    max-width: 58.8rem;
    font-size: 5.8rem;
    margin-bottom: 2rem;
}

.welcome__info-text {
    max-width: 56.5rem;
    margin-bottom: 3rem;
}

/* End of Welcome Section */

/* Shop Section */

.shop {
    margin-bottom: 8rem;
}

.shop__info {
    text-align: center;
    margin-bottom: 5.5rem;
}

.shop__items {
    display: flex;
    justify-content: space-evenly;
    gap: 1.6rem;
}

.shop__items-laptops {
    max-width: 63.9rem;
    height: 47.2rem;
    margin-bottom: 7rem;
    box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.25);
    position: relative;
}

.shop__items-laptop-img {
    padding: 0 9.5rem 9.5rem 4rem;
    width: 100%;
    object-fit: cover;
}

.laptops__info {
    position: absolute;
    bottom: 0rem;
    right: 4rem;
}

.laptops__info-title {
    font-size: 1.5rem;
    text-align: right;
}

.laptops__info-text {
    font-family: "Readex Pro", sans-serif;
    font-size: 3.2rem;
    max-width: 19.2rem;
    text-align: right;
}

.shop__items-watches {
    box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    gap: 4.6rem;
}

.watches__info {
    padding-right: 4rem;
    text-align: right;
}

.shop__items-phones {
    box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.25);
    max-width: 31.2rem;
    height: 79.2rem;

}

.shop__items-phone-img {
    padding-top: 14rem;
    margin-bottom: 4rem;
}

.phones__info {
    text-align: center;
}

.shop__items-tablets {
    box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.25);
    max-width: 31.2rem;
    height: 79.2rem;
    position: relative;
}

.shop__items-tablet-img {
    padding-top: 25rem;
}

.tablets__info {
    position: absolute;
    top: 11rem;
    left: 4rem;
    text-align: center;
    max-width: 23rem;
}

.shop__items-wrapper-two {
    display: flex;
    gap: 2rem;
}

/* End of Shop Section */

/* Most-Selled Section */

.most__selled-info {
    margin-bottom: 6rem;
}

.most__selled__items {
    display: flex;
    justify-content: space-around;
    margin-bottom: 7.5rem;
    flex-wrap: wrap;
    gap: 5rem;
}

.most__selled__item-title {
    font-family: "Readex Pro", sans-serif;
    font-size: 2.2rem;
    font-weight: 400;
    padding-top: 3rem;
    margin-bottom: 0.9rem;
}

.most__selled__item-text {
    font-size: 1.4rem;
    color: #4b4b4b;
    max-width: 26.2rem;
    margin-bottom: 0.8rem;
}

.most__selled__item-price {
    font-size: 1.8rem;
}

.most__selled-item {
    transition: all 0.8s;
}

.most__selled-item:hover {
    transform: translateY(-0.5rem);
}

/* End of Most-Selled Section */

/* Section Best */

.best__info {
    margin-bottom: 5.5rem;
}

.best__info__cards-wrapper {
    display: flex;
    gap: 3rem;
}

.best__info__card {
    width: 40rem;
    height: 45rem;
    background-color: #F8F9FA;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.best__info__card-text {
    font-family: "Readex Pro", sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    text-align: center;
    padding-top: 4rem;
}

.best__info__card-title {
    font-family: "Readex Pro", sans-serif;
    font-weight: 400;
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 3rem;
}

.explore__button {
    margin-bottom: 3rem;
    cursor: pointer;
}

/* End of Section Best */

/* Section Ideas */

.ideas__info {
    padding-top: 7.5rem;
    margin-bottom: 5.5rem;
}

.ideas__wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 3.5rem;
    margin-bottom: 7rem;
}

.ideas__wrapper p {
    font-size: 2.4rem;
    margin-bottom: 2rem;
    gap: 2rem;
}

.see__all {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 7.5rem;
    gap: 0.5rem;
}

.see__all p {
    font-size: 2.4rem;
    color: #000;
}

/* End of Section Ideas */

/* Section Discover More */

.discover__more {
    margin-bottom: 7rem;
}

.discover__more .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.discover__more-input {
    margin-top: 2.4rem;
    border: 1px solid #c5c5c5;
    border-radius: 100px;
    width: 65rem;
    height: 6rem;
    background-color: #f8f9fa;
    font-size: 1.4rem;
    padding-left: 6rem;
    margin-bottom: 2rem;
}

.discover__more-search {
    position: absolute;
    bottom: 13.7rem;
    left: 33rem;
}

.discover__more-input::placeholder {
    color: #000;
}

.discover__more-links {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 66rem;
    gap: 0.7rem;
    flex-wrap: wrap;
}

.discover__more-link {
    border: 1px solid #c5c5c5;
    border-radius: 20rem;
    padding: 1.2rem 2.2rem;
    color: #000;
    transition: all 0.5s;
}

.discover__more-link:hover {
    transition: all 0.5s;
    background-color: #aaa3a3;
}

/* End of Section Discover More */

/* Section Newsteller */

.newsteller {
    margin-bottom: 5rem;
}

.newsteller .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #DCE5E2;
    margin: 0 25rem;
    border-radius: 1.6rem;
    position: relative;
}

.newsteller__info h2 {
    padding-top: 5rem;
}

.newsteller__info p {
    margin-bottom: 2rem;
}

.newsteller__input {
    border: 1px solid #000;
    border-radius: 54px;
    width: 40rem;
    height: 5rem;
    padding-left: 3rem;
    margin-bottom: 4rem;
}

.newsteller__input::placeholder {
    color: #000;
}

.newsteller__btn {
    position: absolute;
    right: 17rem;
    bottom: 4rem;
    border-radius: 0 200px 200px 0;
    width: 11.5rem;
    height: 5rem;
    border: none;
    background: #000;
    color: #fff;
    font-size: 1.4rem;
    transition: all 0.5s;
}

.newsteller__btn:hover {
    background-color: #4b4b4b;
}

/* End of Section Newsteller */

/* Footer Section */

.footer {
    background: #f8f9fa;
}

.footer .container {
    display: flex;
    padding-top: 3rem;
    padding-bottom: 7rem;
    justify-content: space-between;
}

.footer__wrapper {
    display: flex;
    gap: 9rem;
}

.footer__info p {
    padding-top: 1.8rem;
    max-width: 30rem;
    text-align: start;
}

.footer__links-main {
    font-family: "Readex Pro", sans-serif;
    font-weight: 400;
    font-size: 2.2rem;
    margin-bottom: 1.8rem;
}

.footer__links a {
    display: block;
    color: #000;
    padding-bottom: 1.4rem;
    transition: color 0.5s;
}

.footer__links a:hover {
    transition: color 0.5s;
    color: #2d00e1;
}


/* End of Footer Section */

/* Responsive Section */

@media (max-width: 1250px) {
    .header {
        padding-left: 7rem;
        padding-right: 7rem;
    }

    .welcome__info-title {
        max-width: 45rem;
        font-size: 4.5rem;
    }

    .shop__items {
        flex-wrap: wrap;
    }

    .shop__items-laptops {
        margin-bottom: 2rem;
        margin-left: 4rem;
    }

    .best__info__cards-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .newsteller__btn {
        right: 10rem;
    }

}

@media (max-width: 1100px) {
    .newsteller .container {
        margin: 0 15rem;
    }

    .newsteller__btn {
        right: 10rem;
    }
}

@media (max-width: 900px) {
    .header {
        padding-left: 7rem;
        padding-right: 7rem;
    }

    .header .container {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .welcome .container {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        text-align: center;
    }

    .section__title {
        font-size: 3rem;
    }

    .section__text {
        font-size: 1.3rem;
    }

    .shop__items {
        flex-wrap: wrap;
    }

    .newsteller .container {
        margin: 0 10rem;
    }

    .newsteller__btn {
        right: 7rem;
    }

    .footer .container {
        flex-wrap: wrap;
        gap: 2rem;
    }

    .footer__info {
        padding-left: 5rem;
    }

    .footer__wrapper {
        padding-left: 5rem;
    }

}

@media (max-width: 800px) {
    .newsteller .container {
        margin: 0 5rem;
    }

    .newsteller__btn {
        right: 5rem;
    }

    .ideas__wrapper img {
        width: 60%;
    }

    .ideas__wrapper-quotes {
        width: 60%;
    }

    .footer__wrapper {
        flex-wrap: wrap;
    }
}

@media (max-width: 650px) {

    .welcome .container {
        width: 70%;
    }

    .welcome__info-title {
        padding-top: 1rem;
        width: auto;
        font-size: 3rem;
    }

    .welcome__img {
        width: 80%;
    }

    .shop__items-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .shop__items-wrapper-two {
        align-items: center;
        flex-direction: column;
    }

    .newsteller .container {
        margin: 0 2rem;
    }

    .newsteller__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .newsteller__input {
        width: 90%;
        max-width: 40rem;
    }

    .newsteller__btn {
        position: static;
        border-radius: 200px;
        margin-bottom: 4rem;
    }

    .discover__more-input {
        margin-top: 2.4rem;
        width: 50rem;
        height: 6rem;
    }

}

@media (max-width: 600px) {

    .shop__items {
        display: none;
    }

    .section__title {
        font-size: 2.4rem;
    }

    .section__text {
        font-size: 1.1rem;
    }

    .ideas__wrapper-quotes p {
        font-size: 1.5rem;
    }

    .discover__more-input {
        width: 30rem;
        height: 4rem;
    }
}

/* End of Resposnive Section */